<%- include("partials/header"); -%>
<style>
    header nav ul li {
  width: 500px;
  height: 400px;
  
  
}
header nav ul {
  height: 100px;
  float: right;

}
</style>
    <div class="table-wrapper">

 
                
                <body>
                    <ul>
                    <li><a class="float" href="/add" title="Add a New Student">Add a Student</a></li>
                    <li><a class="float" href="/addClass" title="Add a New Class">Add a Class</a></li>
                    <li><a class="float" href="/addStudy" title="Add a New Resource to a class">Add a Link to a study resource</a></li>
                    <li><a class="float" href="/addProfessor" title="Add a New Professor">Add a Professor</a></li>
                    <li><a class="float" href="/" title="View Classes">View Students</a></li>
                    <li><a class="float" href="/Classes" title="View Classes">View Classes</a></li>
                    <li><a class="float" href="/Professors" title="View Professors">View Professors</a></li>
                    <li><a class="float" href="/Reviews" title="View Reviews">View Reviews</a></li>
                    <li><a class="float" href="/Study" title="View Resources">View Resources</a></li>
                    <li><a class="float" href="/Average" title="Average">Average Rating of a Professor</a></li>
                    <li><a class="float" href="/AverageRat" title="Average">Average Rating of a Class</a></li>
                    <li><a class="float" href="/MostRat" title="Most">Number of Reviews of a Class</a></li>
                    <li><a class="float" href="/TotClas" title="Total">Total number of Classes</a></li>
                    </ul>          
                </body>
  
    </div>
</div>
</body>
</html>