<%- include("partials/header"); -%>
    <div class="table-wrapper">
        <% if (most.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        
                        <th scope="col">Class No</th>
                                                
                                                <th scope="col">Number of Reviews</th>
                                                
                    </tr>
                </thead>
                <tbody>
                    <% most.forEach((study_len, index) => { %>
                        <tr>
                            <th scope="row"><%= study_len.class_no %></th>
                            
                                                
                                                        <td><%= study_len.count_rating %></td>
                                                        
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        <% } else { %>
            <p class="text-center">No Reviews. Go <a href="/addProfessor" >here</a> to add Reviews.</p>
        <% } %>
    </div>
</div>
</body>
</html>